<section
  id="contact"
  class="section animate-section"
  [class.animate]="isVisible()"
>
  <div class="container">
    <h2 class="section-title">Let's Connect</h2>

    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          Ready to discuss your DevOps needs? I'd love to hear about your
          infrastructure challenges and explore how we can build something
          scalable together.
        </p>

        <div class="contact-info">
            <div class="col-md-6">
              <div class="contact-item">
                <i class="bi bi-envelope-fill text-primary me-3"></i>
                <span>madhusamba&#64;gmail.com</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="contact-item">
                <i class="bi bi-linkedin text-primary me-3"></i>
                <a
                  href="https://www.linkedin.com/in/madhusamba-dommisi-5850391ba/"
                  target="_blank"
                  rel="noopener"
                  >Connect on LinkedIn</a
                >
              </div>
            </div>
            <div class="col-md-6">
              <div class="contact-item">
                <i class="bi bi-whatsapp text-primary me-3"></i>
                <span>+91 9573193319</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="contact-item">
                <i class="bi bi-file-earmark-person text-primary me-3"></i>
                <a href="../../assets/Madhu_Resume_2026.pdf" download>Download Resume</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
